

:root{
    --purple : #BD10E0;
    --bs-indigo: #6610f2;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #2da01e;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-lightGrey: rgb(221, 220, 220);
    --bs-gold: #FFD700;
    --bs-aminGradient : #8E2DE2, #4A00E0 ;
    --bs-darkGrey : #252422;
}

body{
    height: 95svh;
    background-color: var(--bs-darkGrey);
    color: white;
}
.menuTitle{
    font-size: 2rem !important;
    background: linear-gradient(90deg, #8E2DE2 , #4A00E0 );
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navLeft{
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    height: 100%;
}
.navContainer{
    display: grid;
}
.active{
    font-weight: 700;
    background-color: rgba(128, 128, 128, 0.5);
    width: auto;
    padding: 5px;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    position: relative;
    transition: transform 250ms;
    color: black;
    width:fit-content;
}
.link:hover{
    transform: translateX(30px);
    color: var(--bs-success);
    text-shadow: 0px 0px 31px var(--bs-success);
}
.cont{
    height: 100%;
    display: flex;
}
.addToDo{
    border: 0;
    padding: 0px 15px 3px 15px;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: white;
    position: relative;
    top: 0px;
}
.listContainer{
    min-height: 100%;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}
.listItem{
    position: relative;
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    word-break: break-all;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--bs-aminGradient));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--bs-aminGradient)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.listFlash{
    animation : flash 2s;
}
@keyframes flash{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.priorityText{
    position: absolute;
    background-color: var(--bs-danger);
    color: white;
}
.toDoError{
    color: var(--bs-danger);
    visibility: hidden;
    position: relative;
    right: -170px;
    top: 5px;
}
.ToDoInput{
    height: 35px;
    background-color: black;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    outline: none;
    color: white;
    width: 95%;
    position: relative;
    z-index: 2;
}
.ToDoInput:focus{
    color: white;
    /* z-index: 1; */
}
.inputGradient{
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, var(--bs-aminGradient));
    background: linear-gradient(to right, var(--bs-aminGradient));
    padding: 3px;
    border-radius: 15px;
}
.priority{
    width: 12%;
    display: grid;
    text-align: center;
}
.prioritet{
    position: relative;
    left: 15px;
    bottom: 20px;
    top: -20px;
}
.prioBtn{
    border: 0;
    padding: 0px 15px 3px 15px;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: var(--bs-white);
}
.optPriority{
    display: none;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
    width: fit-content;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    z-index: 9;
    background-color: #131211;
}
.show{
    display: block;
}
.listTitle{
    margin-top: 30px;
}
.Priority:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.inputContainerLocal{
    position: relative;
}
.toDoPriorityUrgent{
    color: white;
    background-color: var(--bs-danger);
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 13px 3px 13px;
}
.toDoPriorityHigh{
    color: white;
    background-color: var(--bs-yellow);
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 20px 3px 21px;
}
.toDoPriorityNormal{
    color: white;
    background-color: var(--bs-primary);
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 12px 3px 12px;
}
.toDoPriorityLow{
    color: white;
    background-color: var(--bs-indigo);
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 23px 3px 23px;
}
.priorityCont{
    position: relative;
    top: 5px;
    right: 5px;
    margin-bottom: 5px;
}
.active-local{
    background-color: black !important;
}
.border-gradient{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--bs-aminGradient));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--bs-aminGradient)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2px;
    border-radius: 0.25rem;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50px;
    z-index: 99;
    border: none;
    outline: none; 
    background-color: black; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.5s ease;
  }
  

  #myBtn:hover {
    background-color: #8E2DE2;
}
.iconCont{
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    float: right;
    position: absolute;
    top: 3px;
    right: 4px;
    width: 98%;
    height: 85%;
    z-index: 1;
    display: flex;
    justify-content: end;
}
.deleteBtn{
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 13px 3px 13px;
    margin: 0 10px 0 10px;
    border: 0;
    color: white;
}