

:root{
    --purple : #BD10E0;
    --bs-indigo: #6610f2;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #2da01e;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-lightGrey: rgb(221, 220, 220);
    --bs-gold: #FFD700;
    --bs-aminGradient : #8E2DE2, #4A00E0 ;
    --bs-darkGrey : #252422;
}
body{
    height: 95svh;
    margin: 20px;
    color: white;
    background-color: var(--bs-darkGrey);
}
::placeholder{
    color: black;
}
.menuTitle{
    font-size: 2rem !important;
    background: linear-gradient(90deg, #8E2DE2 , #4A00E0 );
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navLeft{
    background-color: #e6eaec;
}
.cont{
    display: flex;
    height: 100%;
}
.stickyWall{
    margin-left: 20px;
    width: 100%;
}
.stickyWall h1{
    margin-left: 20px;
    font-size: 3rem;
    background: linear-gradient(90deg, #8E2DE2 , #4A00E0 );
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stickyWallContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.stickyWall1{
    width: 30%;
    background-color: rgba(255, 255, 0, 0.5);
    min-height: 300px;
    padding: 20px;
}
.stickyWall2{
    width: 30%;
    background-color: 	rgba(173,216,230, 0.7);
    height: 300px;
    padding: 20px;
}
.stickyWall3{
    width: 30%;
    background-color: rgba(199, 77, 183, 0.5);
    height: 300px;
    padding: 20px;
}
.stickyWallInput1,
.stickyWallInput2,
.stickyWallInput3{
    background-color: transparent;
    border: 1px solid  rgba(0, 0, 0, 0.5);
    width: 100%;
    border-right: 0;
    outline: none;
}
.stickyNoteAddBtn1,
.stickyNoteAddBtn2,
.stickyNoteAddBtn3{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 0;
}
.inputError1,
.inputError2,
.inputError3{
    color: red;
    visibility: hidden;
}
.holeCont{
    display: flex;
    margin-bottom: 15px;
}
.hole{
    background-color: var(--bs-darkGrey);
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.hole:nth-child(2){
    margin-left: auto;
}
.active-gradient{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--bs-aminGradient));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--bs-aminGradient)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2px;
    border-radius: 0.25rem;
}
.active-gradient a{
    background-color: black !important;
}
.stickyWallName{
    color: black;
}
.listContainer1,
.listContainer2,
.listContainer3{
    color: #000000;
}
.listContainer1 li,
.listContainer2 li,
.listContainer3 li{
    word-break: break-all;
}
