.custom-shape-divider-bottom-1679402293 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679402293 svg {
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 220px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1679402293 .shape-fill {
    fill: #BD10E0;
}
.logInForm{
    display: grid;
    width: 405px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #BD10E0;
    padding: 50px;
    box-shadow: 0px 0px 78px 11px rgba(189,16,224,0.75);
    z-index: 9999;
}
.emailInput{
    border: 1px solid;
    outline: none;
}
.passwordInput{
    border: 1px solid;
    outline: none;
}
.usernameInput{
    border: 1px solid;
    outline: none;
}
.emailError{
    display: none;
    color: red;
}
.passwordError{
    display: none;
    color: red;
}
.signUpBtn{
    border: 0;
    background-color: rgb(201, 192, 192);
    transition: background-color 0.5s ease;
}
.signUpBtn:hover{
    background-color: rgb(189,16,224);
    color: white;
}
