

:root{
    --purple : #BD10E0;
    --bs-indigo: #6610f2;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}
body{
    height: 95vh;
}
.navLeft{
    padding: 15px;
    background-color: rgb(243, 240, 240);
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    height: 100%;
    border: var(--bs-success) solid 1px;
}
.navContainer{
    display: grid;
}
.active{
    font-weight: 700;
    background-color: rgba(128, 128, 128, 0.5);
    width: auto;
    padding: 5px;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    position: relative;
    transition: transform 250ms;
    color: black;
    width:fit-content;
}
.link:hover{
    transform: translateX(30px);
    color: var(--bs-success);
    text-shadow: 0px 0px 31px var(--bs-success);
}
.cont{
    height: 100%;
    display: flex;
}
.addToDo{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--bs-success);
}
.listContainer{
    min-height: 100%;
    margin: 30px;
    background-color: rgba(168, 164, 164, 0.4);
    border-radius: 10px;
    padding: 10px;
}
.listItem{
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
    border-top: solid 1px;
    width: 100%;
}
.toDoError{
    color: var(--bs-danger);
    visibility: hidden;
}
.toDoInputHolder{
    position: absolute;
    left: 50%;
}
.listTitle{
    margin-top: 130px;
}
.ToDoHeader{
    position: relative;
    top: 50px;
}