

:root{
    --purple : #BD10E0;
    --bs-indigo: #6610f2;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #2da01e;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-lightGrey: rgb(221, 220, 220);
    --bs-gold: #FFD700;
}

body{
    height: 95vh;
}
.navLeft{
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    height: 100%;
}
.navContainer{
    display: grid;
}
.active{
    font-weight: 700;
    background-color: rgba(128, 128, 128, 0.5);
    width: auto;
    padding: 5px;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    position: relative;
    transition: transform 250ms;
    color: black;
    width:fit-content;
}
.link:hover{
    transform: translateX(30px);
    color: var(--bs-success);
    text-shadow: 0px 0px 31px var(--bs-success);
}
.cont{
    height: 100%;
    display: flex;
}
.addToDo{
    border: 0;
    padding: 0px 15px 3px 15px;
    background-color: var(--bs-success);
    color: white;
    position: relative;
    top: 0px;
}
.listContainer{
    min-height: 100%;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}
.listItem{
    position: relative;
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    border-bottom: solid 1px;
    width: 100%;
}
.priorityText{
    position: absolute;
    background-color: var(--bs-danger);
    color: white;
}
.toDoError{
    color: var(--bs-danger);
    visibility: hidden;
    position: relative;
    right: -170px;
    top: 5px;
}
.ToDoInput{
    height: 35px;
}
.ToDoInput:focus{
    outline: solid var(--bs-success) 0.5px;
}
.inputTitle{
    background-color: rgba(168, 164, 164, 0.4);
    width: fit-content;
    position: relative;
    bottom: -7px;
    padding: 5px;
}
.prioritet{
    position: relative;
    left: 10px;
}
.priority{
    width: 12%;
    display: grid;
    text-align: center;
}
.prioritet{
    position: relative;
    left: 0px;
    bottom: 20px;
    top: -20px;
}
.prioBtn{
    border: 0;
    padding: 0px 15px 3px 15px;
    background-color: var(--bs-primary);
    color: var(--bs-white);
}
.optPriority{
    display: none;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
    width: fit-content;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    z-index: 9;
}
.show{
    display: block;
}
.listTitle{
    margin-top: 30px;
}
.Priority:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.iconRight{
    position: absolute;
    top: 10px;
    right: 5px;
}
.inputContainer{
    position: relative;
}
.toDoPriorityUrgent{
    color: white;
    background-color: var(--bs-danger);
    border-radius: 5px;
    position: absolute;
    right: 5px;
    font-size: 15px;
    padding: 3px 13px 3px 13px;
}
.toDoPriorityHigh{
    color: white;
    background-color: var(--bs-yellow);
    border-radius: 5px;
    position: absolute;
    right: 5px;
    font-size: 15px;
    padding: 3px 20px 3px 21px;
}
.toDoPriorityNormal{
    color: white;
    background-color: var(--bs-primary);
    border-radius: 5px;
    position: absolute;
    right: 5px;
    font-size: 15px;
    padding: 3px 12px 3px 12px;
}
.toDoPriorityLow{
    color: white;
    background-color: var(--bs-indigo);
    border-radius: 5px;
    position: absolute;
    right: 5px;
    font-size: 15px;
    padding: 3px 23px 3px 23px;
}
.toDoPriorityNone{
    color: white;
    background-color: grey;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    font-size: 15px;
    padding: 3px 18px 3px 18px;
}